body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
}

.calc {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 450px;
}

.calc button {
    flex: 0 1 16.666%;
    font-size: 28px;
}

.calc .display {
    display: flex;
    flex: 1 1 100%;
    justify-content: flex-end;
    align-items: center;
}

.text {
    padding: 0;
    margin: 0;
    height: 100%;
    flex: 1 1 100%;
    text-align: left;
    background-color: rgb(223, 216, 216);
    border: 1px solid rgb(100, 95, 95);
    border-radius: 2px;
    font-size: 28px;
}

.clear,
.backsp {
    font-size: 12px;
}