.calc {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 150px;
}

.calc button {
    flex: 1 1 25%;
}

.calc .display {
    display: flex;
    background-color: rgb(223, 216, 216);
    border: 1px solid rgb(100, 95, 95);
    border-radius: 2px;
    flex: 1 1 100%;
    justify-content: flex-end;
    align-items: center;
}

.text {
    padding: 0;
    margin: 0;
    height: 25px;
}